<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login page</h1>

<p>
    This is a placeholder login page.<br>
    Authentication UI is not implemented in this course project.
</p>
</body>
</html>
