security:
  password_hashers:
    App\Entity\User: 'auto'

  providers:
    users:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    main:
      lazy: true
      provider: users

      form_login:
        login_path: login
        check_path: login
        default_target_path: inventories_index

      logout:
        path: app_logout
        target: login

  access_control:
    - { path: ^/login, roles: PUBLIC_ACCESS }
    - { path: ^/, roles: ROLE_USER }
