<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inventory App{% endblock %}</title>
</head>
<body>

<nav>
    <a href="{{ path('inventories_index') }}">Inventories</a>

    {% if app.user %}
        | Logged in as {{ app.user.email }}

        {% if app.user.isAdmin %}
            <strong>(ADMIN)</strong>
        {% else %}
            <strong>(USER)</strong>
        {% endif %}

        | <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        | <a href="{{ path('login') }}">Login</a>
    {% endif %}
</nav>

<hr>

{% block body %}{% endblock %}

</body>
</html>
